.about_page {
  .about_hero {
    padding-top: 15vw;
    background-color: $color3;
    position: relative;

    @media #{$s1023} {
      padding-top: 150px;
    }

    @media #{$s750} {
      padding-top: 120px;
    }

    &:after {
      content: "";
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: $color4;
      width: 100%;
      height: 37vh;
      z-index: 1;

      @media #{$s750} {
        display: none;
      }
    }

    .about_hero_top_content {
      display: flex;
      flex-wrap: wrap;
      padding-left: 9vw;
      padding-right: 9vw;
      margin-bottom: 10vw;
      z-index: 2;
      position: relative;
      @extend .fadeUp;

      @media #{$s1100} {
        padding-left: 5vw;
        padding-right: 5vw;
      }

      @media #{$s750} {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 70px;
      }

      .left {
        width: 75%;

        @media #{$s1100} {
          width: 65%;
        }

        @media #{$s1023} {
          width: 100%;
          margin-bottom: 20px;
        }

        .small_subheadline {
          margin-bottom: 20px;
          span {
            justify-content: flex-start;
            &:after {
              display: none;
            }
          }
        }

        h1 {
          @extend .mainHeadline;
          color: $color1;
          text-align: left;
        }
      }

      .right {
        width: 25%;

        @media #{$s1100} {
          width: 35%;
        }

        @media #{$s1023} {
          width: 100%;
        }

        p {
          @extend .text;
          color: $color1;
          line-height: 1.4em;
        }
      }
    }

    .image_holder_wrap {
      padding-left: 5vw;
      box-sizing: border-box;
      z-index: 2;
      position: relative;
      @extend .fadeIn;

      @media #{$s750} {
        padding-left: 0;
      }

      .image_holder {
        position: relative;
        padding-top: 58%;
        overflow: hidden;

        @media #{$s750} {
          padding-top: 120%;
        }

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .about_first_section {
    background-color: $color4;

    .about_first_section_content {
      box-sizing: border-box;
      padding: 7vw 3.5vw;

      @media #{$s750} {
        padding: 65px 35px;
      }

      .about_first_section_header {
        text-align: center;

        h2 {
          @extend .mainHeadline;
          color: $color1;
          margin-bottom: 30px;
          @extend .fadeUp;

          span {
            @include transition(all, 300ms, ease, 800ms);

            &.in_view {
              color: $color3;
            }
          }
        }

        .btn {
          @extend .fadeUp;
        }
      }

      .three_box_section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8vw;
        @extend .fadeUp;

        @media #{$s750} {
          margin-top: 0px;
        }

        .single_box {
          width: 33.33333%;
          box-sizing: border-box;
          padding: 0 1.25vw;

          @media #{$s750} {
            width: 100%;
            padding: 0;
            margin-bottom: 30px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .signle_box_content {
            border: 1px solid $color1;
            box-sizing: border-box;
            padding: 3.5vw 5vw;
            height: 100%;

            @media #{$s1100} {
              padding: 2.5vw 3vw;
            }

            @media #{$s750} {
              padding: 30px;
            }

            .icon_wrap {
              height: 9vw;
              margin-bottom: 4vw;

              @media #{$s750} {
                height: 140px;
                margin-bottom: 44px;
              }

              img,
              video {
                height: 100%;
              }
            }

            .small_subheadline {
              margin-bottom: 15px;

              span {
                justify-content: flex-start;

                &:after {
                  display: none;
                }
              }
            }

            .description {
              h3 {
                @extend .smallHeadline;
                color: $color1;
                margin-bottom: 15px;
              }

              p {
                @extend .text;
                color: $color1;
              }
            }
          }
        }
      }
    }
  }

  .about_second_section {
    background-color: $color2;

    .about_second_section_content {
      display: flex;
      padding: 12vw 6vw;
      box-sizing: border-box;
      justify-content: space-between;
      text-align: center;
      @extend .fadeUp;

      @media #{$s750} {
        padding: 75px 40px;
        flex-wrap: wrap;
      }

      .single_item {
        @media #{$s750} {
          width: 100%;
          margin-bottom: 35px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .number {
          @extend .mainHeadline;
          margin-bottom: 20px;
          color: $color1;

          @media #{$s750} {
            font-size: 80px;
            margin-bottom: 10px;
          }
        }

        p {
          @extend .smallHeadline;
          color: $color1;

          @media #{$s750} {
            font-size: 26px;
          }
        }
      }
    }
  }

  .about_third_section {
    background-color: $color1;
    position: relative;
    border-bottom: 1px solid $color2;

    .about_shape {
      position: absolute;
      right: 0;
      top: 0;
      width: 43vw;

      @media #{$s750} {
        width: 87%;
      }
    }

    .about_third_section_content {
      display: flex;
      flex-wrap: wrap;
      padding: 8vw 5vw;
      box-sizing: border-box;

      @media #{$s750} {
        padding: 65px 30px;
      }

      .left {
        width: 50%;
        padding-right: 10vw;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3vw;
        @extend .fadeUp;

        @media #{$s1023} {
          padding-right: 20px;
          padding-left: 30px;
        }

        @media #{$s750} {
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          order: 2;
        }

        .small_subheadline {
          margin-bottom: 15px;

          span {
            color: $color2;
            justify-content: flex-start;

            @media #{$s750} {
              justify-content: center;
            }

            &:after {
              display: none;

              @media #{$s750} {
                display: block;
                background-color: $color2;
              }
            }

            &:before {
              background-color: $color2;
            }
          }
        }

        .quote_sign {
          background-color: $color2;
          width: 2.2vw;
          height: 2.2vw;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 20px;
          position: absolute;
          left: -3vw;

          &.mobile {
            display: none;
          }

          @media #{$s1023} {
            left: -40px;
            width: 30px;
            height: 30px;
          }

          @media #{$s750} {
            display: none;
            width: 35px;
            height: 35px;

            &.mobile {
              display: flex;
              position: relative;
              margin: auto;
              left: auto;
              margin-bottom: 20px;
            }
          }

          p {
            font-size: 1.8vw;
            color: $color1;
            font-family: $font2;
            display: block;
            height: 8px;

            @media #{$s1023} {
              font-size: 28px;
            }

            @media #{$s750} {
              font-size: 34px;
            }
          }
        }

        .description {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;

          @media #{$s750} {
            text-align: center;
          }

          .description_content {
            flex: 1;
            position: relative;

            h2 {
              @extend .mediumHeadline;
              margin-bottom: 25px;
              color: $color2;
              line-height: 1.3em;

              @media #{$s750} {
                text-align: center;
                margin-bottom: 15px;
              }
            }

            .mobile_separator {
              display: none;
              width: 50px;
              background-color: $color2;
              height: 1px;
              margin: auto;
              margin-bottom: 15px;

              @media #{$s750} {
                display: block;
              }
            }
            .author {
              font-size: 16px;
              font-family: $font1;
              color: $color2;
              position: relative;
              display: flex;
              align-items: center;

              @media #{$s750} {
                justify-content: center;
              }

              &:before {
                content: "";
                display: block;
                width: 50px;
                background-color: $color2;
                height: 1px;
                margin-right: 5px;

                @media #{$s750} {
                  display: none;
                }
              }

              @media #{$s1500} {
                font-size: 14px;
              }

              @media #{$s750} {
                font-size: 12px;
              }
            }
          }
        }
      }

      .right {
        width: 50%;

        @media #{$s750} {
          width: 100%;
          order: 1;
          margin-bottom: 45px;
        }

        .image_holder {
          padding-top: 105%;
          overflow: hidden;
          position: relative;
          @extend .fadeIn;

          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition(all, 300ms);
          }
        }
      }
    }
  }

  .about_fourth_section {
    background-color: $color1;

    .about_fourth_section_content {
      padding: 8vw 5vw;
      padding-bottom: 0px;
      box-sizing: border-box;

      @media #{$s1023} {
        padding-bottom: 8vw;
      }

      @media #{$s750} {
        padding: 70px 30px;
        padding-bottom: 50px;
      }

      h2 {
        text-align: center;
        @extend .mainHeadline;
        color: $color2;
        margin-bottom: 5vw;
        @extend .fadeUp;

        @media #{$s750} {
          margin-bottom: 40px;
        }
      }

      .team_list {
        display: flex;
        flex-wrap: wrap;
        @extend .fadeUp;

        .single_team_member {
          padding: 0 3vw;
          box-sizing: border-box;
          width: 50%;
          margin-bottom: 6vw;
          cursor: pointer;

          @media #{$s1023} {
            width: 100%;
            padding: 0;
          }

          &.active {
            .team_info_wrap {
              .team_opener {
                img {
                  transform: rotate(90deg);
                }
              }
            }
          }

          &:hover {
            .image_holder {
              img {
                transform: scale(1.02);
              }
            }
          }

          .image_holder {
            padding-top: 95%;
            overflow: hidden;
            position: relative;

            img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              @include transition(all, 300ms);
            }
          }

          .team_info_wrap {
            padding-top: 2vw;
            padding-bottom: 1.5vw;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media #{$s750} {
              padding-top: 25px;
              padding-bottom: 15px;
            }

            .team_info {
              h3 {
                @extend .smallHeadline;
                color: $color2;
              }

              p {
                @extend .text;
                color: $color2;
              }
            }

            .team_opener {
              background-color: $color2;
              width: 2.2vw;
              height: 2.2vw;
              border-radius: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              @media #{$s1023} {
                width: 30px;
                height: 30px;
              }

              img {
                position: relative;
                width: 0.8vw;
                transform: rotate(-90deg);
                @include transition();

                @media #{$s1023} {
                  width: 15px;
                }
              }
            }
          }

          .team_description {
            display: none;

            .top_description {
              border-top: 1px solid $color2;
              padding-top: 1.5vw;

              @media #{$s750} {
                padding-top: 15px;
              }

              p {
                @extend .text;
                color: $color2;
              }
            }

            .bottom_description {
              margin-top: 20px;
              display: flex;

              @media #{$s750} {
                flex-wrap: wrap;
              }

              a {
                @extend .text;
                display: flex;
                color: $color2;
                margin-right: 30px;
                align-items: center;

                @media #{$s750} {
                  width: 100%;
                  margin-right: 0;
                  margin-bottom: 20px;
                }

                &:last-child {
                  margin-right: 0;
                }

                img {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
