#footer {
  .container {
    .footer_content {
      .footer_cta {
        padding: 8vw 0;
        box-sizing: border-box;
        position: relative;
        border-bottom: 1px solid $color1;

        @media #{$s1023} {
          padding: 14vw 0;
        }

        @media #{$s750} {
          padding: 120px 40px;
        }

        .footer_top_shape,
        .footer_bottom_shape {
          position: absolute;
        }

        .footer_top_shape {
          right: 0;
          top: 0;
          width: 15vw;

          @media #{$s750} {
            width: 22vw;
          }
        }

        .footer_bottom_shape {
          left: 0;
          bottom: 0;
          width: 24vw;

          @media #{$s750} {
            width: 35vw;
          }
        }

        .footer_cta_content {
          text-align: center;
          @extend .fadeUp;

          h2 {
            @extend .mainHeadline;
            color: $color1;
            margin-bottom: 2.5vw;

            @media #{$s750} {
              margin-bottom: 15px;
            }
          }

          p {
            @extend .smallHeadline;
            color: $color1;
            margin-bottom: 3vw;
            line-height: 1.4em;

            @media #{$s750} {
              margin-bottom: 30px;
              line-height: 1.2em;
            }
          }
        }
      }

      .footer_main_content {
        display: flex;
        flex-wrap: wrap;

        .left {
          width: 78%;
          box-sizing: border-box;
          padding: 5vw 7vw;
          display: flex;
          justify-content: space-between;

          @media #{$s1100} {
            padding: 5vw;
            width: 70%;
          }

          @media #{$s1023} {
            width: 100%;
          }

          @media #{$s750} {
            padding: 50px 35px;
            padding-bottom: 30px;
          }

          @media #{$s750} {
            flex-wrap: wrap;
          }

          .logo_holder {
            display: block;
            @media #{$s750} {
              width: 100%;
              text-align: center;
              margin-bottom: 40px;
            }

            img {
              width: 13vw;

              @media #{$s750} {
                width: 135px;
              }
            }

            p {
              @extend .smallHeadline;
              color: $color1;
              margin-top: 30px;

              @media #{$s750} {
                margin-top: 15px;
              }
            }
          }

          .menu_holder {
            display: flex;

            @media #{$s750} {
              justify-content: space-between;
              width: 100%;
            }

            .single_menu {
              margin-right: 4.5vw;

              @media #{$s750} {
                margin-right: 20px;
              }

              &:last-child {
                margin: 0;
              }

              .small_subheadline {
                margin-bottom: 20px;

                span {
                  justify-content: flex-start;

                  &:after {
                    display: none;
                  }
                }
              }

              ul {
                li {
                  margin-bottom: 5px;

                  a {
                    @extend .smallHeadline;
                    color: $color1;
                    @include transition();

                    @media #{$s1023} {
                      font-size: 20px;
                    }

                    @media #{$s750} {
                      font-size: 18px;
                    }
                  }

                  &:hover {
                    a {
                      opacity: 0.5;
                    }
                  }
                }
              }
            }
          }
        }

        .right {
          width: 22%;
          border-left: 1px solid $color1;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5vw 0;

          @media #{$s1100} {
            width: 30%;
          }

          @media #{$s1023} {
            width: 100%;
            border: none;
            padding: 5vw;
            justify-content: flex-start;
            padding-top: 0;
          }

          @media #{$s750} {
            padding: 0 35px 50px 35px;
          }

          .right_content {
            max-width: 15vw;

            @media #{$s1100} {
              max-width: 100%;
            }

            .small_subheadline {
              margin-bottom: 20px;

              span {
                justify-content: flex-start;

                &:after {
                  display: none;
                }
              }
            }

            .top_info {
              margin-bottom: 40px;
            }

            p,
            a {
              display: block;
              @extend .text;
              color: $color1;
            }

            a {
              @include transition(all, 300ms);
              &:hover {
                opacity: 0.5;
              }
            }
          }
        }
      }

      .footer_disclosure_holder {
        text-align: center;
        border-top: 1px solid $color1;
        box-sizing: border-box;
        padding: 3vw 0;

        @media #{$s750} {
          padding: 20px 0;
        }

        .disclosure_opener {
          text-align: center;
          cursor: pointer;

          p {
            @extend .smallHeadline;
            display: flex;
            justify-content: center;
            color: $color1;

            img {
              margin-left: 10px;
              position: relative;
              transform: rotate(0deg);
              @include transition();
            }
          }

          &.active {
            p {
              img {
                transform: rotate(180deg);
              }
            }
          }
        }

        .footer_disclosure {
          margin-top: 1.5vw;
          display: none;

          @media #{$s750} {
            margin-top: 30px;
          }

          p {
            @extend .text;
            color: $color1;
            text-align: center;
            max-width: 80%;
            margin: auto;

            @media #{$s1023} {
              max-width: 100%;
              padding: 0 5vw;
              box-sizing: border-box;
            }

            br {
              @media #{$s750} {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

.home_page,
.single_blog_page {
  #footer {
    background-color: $color5;
  }
}

.blog_page {
  #footer {
    border-top: 1px solid $color1;
  }
}

.contact_page,
.glossary_page {
  #footer {
    background-color: $color3;

    .container {
      .footer_content {
        .footer_cta {
          .btn {
            color: #fff;
            background-color: $color1;

            &:after {
              background-color: #fff;
            }

            &:hover {
              color: $color1;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}

.about_page,
.services_page,
.blog_page {
  #footer {
    background-color: $color4;

    .container {
      .footer_content {
        .footer_cta {
          .btn {
            color: #fff;
            background-color: $color1;

            &:after {
              background-color: #fff;
            }

            &:hover {
              color: $color1;
              background-color: #fff;
            }
          }
        }
      }
    }
  }
}
