.services_page {
  .services_hero {
    padding-top: 15vw;
    background-color: $color2;
    border-bottom: 1px solid $color1;

    @media #{$s1023} {
      padding-top: 150px;
    }

    @media #{$s750} {
      padding-top: 120px;
    }

    .services_hero_top_content {
      display: flex;
      flex-wrap: wrap;
      padding-left: 9vw;
      padding-right: 9vw;
      padding-bottom: 10vw;
      z-index: 2;
      position: relative;
      align-items: center;
      @extend .fadeUp;

      @media #{$s1100} {
        padding-left: 5vw;
        padding-right: 5vw;
      }

      @media #{$s750} {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
      }

      .left {
        width: 75%;

        @media #{$s1100} {
          width: 65%;
        }

        @media #{$s1023} {
          width: 100%;
          margin-bottom: 20px;
        }

        .small_subheadline {
          margin-bottom: 20px;

          span {
            justify-content: flex-start;
            &:after {
              display: none;
            }
          }
        }

        h1 {
          @extend .mainHeadline;
          color: $color1;
          text-align: left;
        }
      }

      .right {
        width: 25%;

        @media #{$s1100} {
          width: 35%;
        }

        @media #{$s1023} {
          width: 100%;
        }

        p {
          @extend .text;
          color: $color1;
          line-height: 1.4em;
        }
      }
    }
  }

  .services_first_section {
    background-color: $color2;

    .services_first_section_content {
      padding: 12.5vw 2.5vw;
      box-sizing: border-box;

      @media #{$s750} {
        padding: 65px 35px;
      }

      .small_subheadline {
        margin-bottom: 40px;
        @extend .fadeUp;

        @media #{$s750} {
          margin-bottom: 20px;
        }
      }

      .fourth_section_list_wrap {
        .fourth_section_list {
          display: flex;
          @extend .fadeUp;

          @media #{$s750} {
            flex-wrap: wrap;
          }

          .single_item {
            border: 1px solid $color1;
            padding: 1.5vw 0;
            box-sizing: border-box;
            width: 100%;
            margin-right: 1vw;
            text-align: center;
            cursor: pointer;
            border-radius: 200px;
            @include transition();

            @media #{$s750} {
              margin-bottom: 15px;
              padding: 10px;
              width: 100%;
            }

            &:last-child {
              margin: 0;
            }

            &:hover {
              background-color: #fff;
            }

            &.active {
              background-color: #fff;
            }

            p {
              @extend .mediumHeadline;
              color: $color1;
              text-transform: uppercase;

              @media #{$s1023} {
                font-size: 2.5vw;
              }

              @media #{$s750} {
                font-size: 26px;
              }
            }
          }
        }

        .fourth_section_list_item_info {
          text-align: center;
          width: 50%;
          margin: auto;
          margin-top: 5vw;
          display: none;

          @media #{$s1100} {
            width: 80%;
          }

          p,
          a {
            @extend .text;
            color: $color1;
          }

          p {
            margin-bottom: 20px;
          }

          a {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              margin-left: 5px;
              position: relative;
              top: 1px;
              @include transition(all, 300ms);
            }

            &:hover {
              img {
                margin-left: 7px;
              }
            }
          }
        }
      }
    }
  }

  .services_second_section {
    background-color: $color1;
    position: relative;
    // border-bottom: 1px solid $color2;

    .about_shape {
      position: absolute;
      right: 0;
      top: -1px;
      width: 43vw;

      @media #{$s750} {
        width: 87vw;
      }
    }

    .third_section_bottom_shape {
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 23vw;

      @media #{$s750} {
        bottom: auto;
        width: 40vw;
        top: 47%;
      }

      &.mobile {
        display: none;

        @media #{$s750} {
          display: block;
          width: 40vw;
          transform: rotate(180deg);
          left: auto;
          right: 0;
          top: auto;
          bottom: 32%;
        }
      }
    }

    .services_second_content {
      display: flex;
      flex-wrap: wrap;
      padding: 8vw 5vw;
      box-sizing: border-box;

      @media #{$s750} {
        padding: 65px 30px;
      }

      .left {
        width: 53%;
        @extend .fadeUp;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding-right: 5vw;

        @media #{$s750} {
          padding-right: 0;
          width: 100%;
          order: 2;
          margin-top: 50px;
        }

        .description {
          max-width: 29vw;

          @media #{$s1100} {
            max-width: 38vw;
          }

          @media #{$s1023} {
            max-width: 100%;
            // padding-right: 20px;
          }

          @media #{$s750} {
            padding-right: 0;
          }

          h2 {
            @extend .mediumHeadline;
            color: $color2;
            margin-bottom: 5vw;
          }

          .descripton_list_wrap {
            .descripton_list {
              .single_item {
                display: flex;
                border-bottom: 1px solid $color2;
                padding-bottom: 2vw;
                margin-bottom: 2vw;
                align-items: center;

                @media #{$s750} {
                  padding-bottom: 20px;
                  margin-bottom: 20px;
                }

                &:last-child {
                  margin-bottom: 0;
                  border-bottom: none;
                }

                // &:nth-of-type(2) {
                //   .icon_holder {
                //     .icon {
                //       width: 3vw;
                //     }
                //   }
                // }

                .icon_holder {
                  .icon {
                    width: 4vw;

                    @media #{$s750} {
                      width: 50px;
                    }

                    img {
                      width: 100%;
                    }
                  }
                }

                &:nth-of-type(2) {
                  .icon_holder {
                    .icon {
                      img {
                        width: 80%;
                      }
                    }
                  }
                }

                .item_description {
                  padding-left: 2vw;

                  @media #{$s750} {
                    padding-left: 30px;
                  }

                  h3 {
                    @extend .smallHeadline;
                    color: $color2;
                    margin-bottom: 10px;
                  }

                  p {
                    @extend .text;
                    color: $color2;
                  }
                }
              }
            }
          }
        }
      }

      .right {
        width: 47%;

        @media #{$s750} {
          width: 100%;
          order: 1;
        }

        .image_holder {
          padding-top: 105%;
          overflow: hidden;
          position: relative;
          @extend .fadeIn;

          @media #{$s750} {
            padding-top: 95%;
          }

          img,
          video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include transition(all, 300ms);
          }
        }
      }

      &:nth-of-type(even) {
        .left {
          width: 50%;
          order: 2;
          padding-right: 0vw;
          padding-left: 5vw;

          @media #{$s1023} {
            padding-right: 0vw;
            padding-left: 20px;
            width: 53%;
          }

          @media #{$s750} {
            padding-right: 0vw;
            padding-left: 0px;
            width: 100%;
          }

          .description {
            max-width: 31vw;

            @media #{$s1100} {
              max-width: 38vw;
            }

            @media #{$s1023} {
              max-width: 100%;
            }

            h2,
            p {
              color: $color3;
              margin-bottom: 0;
            }

            p {
              @extend .text;
            }

            h2 {
              margin-bottom: 15px;
            }

            .descripton_list_wrap {
              padding-top: 3vw;
              margin-top: 3vw;
              border-top: 1px solid $color3;

              @media #{$s750} {
                padding-top: 30px;
                margin-top: 30px;
              }

              h3 {
                @extend .smallHeadline;
                margin-bottom: 30px;
                color: $color3;
              }

              .descripton_list {
                li {
                  display: flex;
                  @extend .text;
                  align-items: flex-start;
                  color: $color3;
                  margin-bottom: 15px;

                  img {
                    margin-right: 15px;
                  }
                }
              }
            }
          }
        }

        .right {
          order: 1;
        }
      }
    }
  }

  .services_third_section {
    background-color: $color3;

    .services_third_content {
      box-sizing: border-box;
      padding: 7vw 1.5vw;

      @media #{$s750} {
        padding: 65px 35px;
      }

      .services_third_section_header {
        text-align: center;

        h2 {
          @extend .mainHeadline;
          color: $color1;
          margin-bottom: 3vw;
          @extend .fadeUp;

          @media #{$s750} {
            margin-bottom: 30px;
          }

          span {
            @include transition(all, 300ms, ease, 800ms);

            &.in_view {
              color: $color3;
            }
          }
        }

        .filters_holder {
          display: flex;
          justify-content: center;

          @media #{$s750} {
            flex-wrap: wrap;
          }

          .filter_button {
            border: 1px solid $color1;
            padding: 1.5vw 6vw;
            @extend .smallHeadline;
            font-family: $font2;
            color: $color1;
            box-sizing: border-box;
            margin-right: 1vw;
            text-align: center;
            cursor: pointer;
            border-radius: 200px;
            @include transition();

            @media #{$s750} {
              width: 100%;
              margin-bottom: 15px;
              margin-right: 0;
              padding: 15px;

              &:last-child {
                margin-bottom: 0;
              }
            }

            &:hover {
              background-color: #fff;
            }

            &.active {
              background-color: #fff;
            }
          }
        }
      }

      .four_box_section {
        display: flex;
        flex-wrap: wrap;
        margin-top: 8vw;
        position: relative;
        @extend .fadeUp;

        // &:last-child {
        //   display: none;
        // }

        @media #{$s750} {
          margin-top: 80px;
        }

        .single_box {
          width: 25%;
          box-sizing: border-box;
          padding: 0 0.75vw;

          @media #{$s1023} {
            width: 50%;
            margin-bottom: 30px;
          }

          @media #{$s750} {
            width: 100%;
            padding: 0;
            margin-bottom: 30px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .signle_box_content {
            border: 1px solid $color1;
            box-sizing: border-box;
            padding: 3vw 1.5vw;
            height: 100%;

            @media #{$s1100} {
              padding: 2.5vw 1.5vw;
            }

            @media #{$s1023} {
              padding: 2.5vw 3vw;
            }

            @media #{$s750} {
              padding: 30px;
            }

            .icon_wrap {
              height: 6vw;
              margin-bottom: 4vw;

              @media #{$s750} {
                height: 120px;
                margin-bottom: 44px;
              }

              img,
              video {
                height: 100%;
              }
            }

            .small_subheadline {
              margin-bottom: 15px;

              span {
                justify-content: flex-start;

                &:after {
                  display: none;
                }
              }
            }

            .description {
              h3 {
                @extend .smallHeadline;
                color: $color1;
                margin-bottom: 15px;
              }

              p {
                @extend .text;
                color: $color1;
              }
            }
          }
        }
      }
    }
  }

  .services_fourth_section {
    background-color: $color4;
    border-bottom: 1px solid $color1;

    .services_fourth_section_content {
      padding: 8vw 5vw;

      @media #{$s750} {
        padding: 95px 30px;
      }

      .services_fourth_section_header {
        text-align: center;
        margin-bottom: 8vw;

        h2 {
          @extend .mainHeadline;
          margin-bottom: 20px;
          color: $color1;
        }

        p {
          @extend .smallHeadline;
          color: $color1;
          line-height: 1.3em;

          @media #{$s750} {
            br {
              display: block;
            }
          }
        }
      }

      .partners_slider_holder {
        display: flex;
        flex-wrap: wrap;
        padding: 0 10vw;
        margin: auto;
        justify-content: center;
        align-items: center;
        position: relative;

        @media #{$s750} {
          padding: 0;
        }

        .prev_button,
        .next_button {
          position: absolute;
          width: 2.5vw;
          height: 2.5vw;
          border-radius: 2.5vw;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $color1;
          border: 1px solid $color1;
          z-index: 1;
          cursor: pointer;
          @include transition();

          @media #{$s1100} {
            width: 50px;
            height: 50px;
            border-radius: 50px;
          }

          @media #{$s750} {
            width: 35px;
            height: 35px;
            border-radius: 35px;
          }

          svg {
            width: 1.1vw;

            @media #{$s1100} {
              width: 30px;
            }

            @media #{$s750} {
              width: 15px;
            }

            line {
              stroke: #fff;
            }

            path {
              stroke: #fff;
            }
          }

          &:hover {
            background-color: #fff;

            svg {
              line {
                stroke: $color1;
              }

              path {
                stroke: $color1;
              }
            }
          }
        }
        .prev_button {
          left: 5vw;

          @media #{$s1023} {
            left: 0;
          }
        }

        .next_button {
          right: 5vw;

          @media #{$s1023} {
            right: 0;
          }

          svg {
            position: relative;
            transform: rotate(180deg);
          }
        }

        .partners_slider {
          width: 90%;

          .slick-track {
            @media #{$s750} {
              align-items: center;
              display: flex;
            }
          }

          .slide {
            height: 55px;
            position: relative;

            @media #{$s750} {
              height: 40px;

              &.partner_2 {
                height: 55px;
              }

              &.partner_7 {
                height: 50px;
              }

              &.partner_4 {
                height: 35px;
              }
            }

            img {
              position: absolute;
              left: 0;
              top: 0;
              object-fit: contain;
              height: 100%;
              width: 100%;
            }
          }

          /* the slides */
          .slick-slide {
            margin: 0 27px;
          }

          /* the parent */
          .slick-list {
            margin: 0 -27px;
          }
        }
      }
    }
  }
}
