.single_blog_page {
  .blog_hero {
    padding-top: 15vw;
    background-color: $color3;
    position: relative;

    @media #{$s1023} {
      padding-top: 150px;
    }

    @media #{$s750} {
      padding-top: 120px;
    }

    &:after {
      content: "";
      left: 0;
      bottom: 0;
      position: absolute;
      background-color: $color4;
      width: 100%;
      height: 37vh;
      z-index: 1;

      @media #{$s750} {
        display: none;
      }
    }

    .blog_hero_top_content {
      padding-left: 5vw;
      padding-right: 9vw;
      margin-bottom: 6vw;
      z-index: 2;
      position: relative;
      display: flex;
      @extend .fadeUp;

      @media #{$s750} {
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
      }

      .left {
        display: flex;
        align-items: center;

        @media #{$s750} {
          width: 100%;
          margin-bottom: 25px;
        }

        .back_button {
          top: 1vw;
          position: relative;
          width: 2.5vw;
          height: 2.5vw;
          border-radius: 2.5vw;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          z-index: 1;
          cursor: pointer;
          @include transition();

          @media #{$s1100} {
            width: 50px;
            height: 50px;
            border-radius: 50px;
          }

          @media #{$s750} {
            width: 35px;
            height: 35px;
            border-radius: 35px;
          }

          svg {
            width: 1.1vw;

            @media #{$s1100} {
              width: 30px;
            }

            @media #{$s750} {
              width: 15px;
            }

            line {
              stroke: $color1;
            }

            path {
              stroke: $color1;
            }
          }

          &:hover {
            background-color: $color1;

            svg {
              line {
                stroke: #fff;
              }

              path {
                stroke: #fff;
              }
            }
          }
        }
      }

      .right {
        box-sizing: border-box;
        padding-left: 5vw;

        @media #{$s750} {
          padding-left: 0;
        }

        .small_subheadline {
          margin-bottom: 20px;

          @media #{$s750} {
            margin-bottom: 10px;
          }

          span {
            justify-content: flex-start;
            &:after {
              display: none;
            }
          }
        }

        h1 {
          @extend .mainHeadline;
          color: $color1;
          text-align: left;
        }
      }
    }

    .image_holder_wrap {
      padding-left: 5vw;
      box-sizing: border-box;
      z-index: 2;
      position: relative;
      @extend .fadeIn;

      @media #{$s750} {
        padding-left: 0;
      }

      .image_holder {
        position: relative;
        padding-top: 58%;
        overflow: hidden;

        @media #{$s750} {
          padding-top: 120%;
        }

        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  .blog_content_wrap {
    background-color: $color4;

    .blog_content {
      .image_holder_wrap {
        padding: 5vw 0;
        box-sizing: border-box;
        border-top: 1px solid $color1;
        border-bottom: 1px solid $color1;

        @media #{$s750} {
          padding: 40px 30px;
        }

        .image_holder {
          max-width: 70vw;
          margin: auto;
          position: relative;
          padding-top: 40%;

          @media #{$s750} {
            padding-top: 70%;
            max-width: 100%;
          }

          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .text_holder {
        margin: auto;
        padding: 8vw 1.5vw;
        max-width: 60vw;

        @media #{$s1023} {
          max-width: 80vw;
        }

        @media #{$s750} {
          max-width: 100%;
          padding: 50px 30px;
        }

        h2 {
          @extend .mediumHeadline;
          margin-bottom: 40px;
          color: $color1;
          line-height: 1.4em;
        }

        h3,
        h4,
        h5,
        h6 {
          color: $color1;
          @extend .smallHeadline;
          margin-bottom: 20px;
        }

        p,
        a,
        ul li, ol li {
          @extend .text;
          color: $color1;

          sup{
            font-size:12px;
            vertical-align:super;
          }

          i{
            font-style: italic;
          }
        }

        a {
          color: $color1;
          text-decoration: underline;
          @include transition();

          &:hover {
            opacity: 0.5;
          }
        }

        p {
          margin-bottom: 20px;
        }

        ul li {
          list-style-type: disc;
          list-style-position: inside;
          margin-bottom: 5px;
        }

        ol li {
          list-style-type: decimal;
          list-style-position: inside;
          margin-bottom: 5px;
        }
      }
    }

    .blog_info {
      padding: 0 9vw;
      box-sizing: border-box;
      padding-bottom: 8vw;
      border-bottom: 1px solid $color1;

      @media #{$s1023} {
        padding: 0 30px;
        padding-bottom: 70px;
      }

      .blog_info_content {
        border: 1px solid $color1;
        padding: 2vw 4vw;
        border-radius: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media #{$s750} {
          padding: 20px 10px;
          justify-content: center;
          display: none;
        }

        .share_box,
        .tag_box {
          width: 50%;

          @media #{$s750} {
            width: 100%;
            text-align: center;
          }

          .small_subheadline {
            margin-bottom: 10px;

            span {
              justify-content: flex-start;

              &:after,
              &:before {
                display: none;
              }
            }
          }

          ul {
            display: flex;
            flex-wrap: wrap;

            @media #{$s750} {
              justify-content: center;
            }  

            li {
              display: inline-block;
              display: flex;
              align-items: center;

              &:after {
                content: "";
                width: 4px;
                height: 4px;
                margin-left: 15px;
                margin-right: 15px;
                display: block;
                background-color: $color1;
                border-radius: 4px;

                @media #{$s750} {
                  margin-left: 5px;
                  margin-right: 5px;
                }
              }

              &:last-child {
                &:after {
                  display: none;
                }
              }

              a {
                @extend .smallHeadline;
                color: $color1;
                line-height: 1.5em;
                @include transition();

                &:hover {
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }

      .blog_info_content_mobile {
        display: none;

        @media #{$s750} {
          display: block;

          .small_subheadline {
            margin-bottom: 10px;

            span {
              &:after,
              &:before {
                display: none;
              }
            }
          }

          .blog_info_content {
            display: flex;

            &.first {
              margin-bottom: 30px;
            }
          }
        }
      }
    }

    .related_blog_posts {
      box-sizing: border-box;
      padding: 7vw;

      @media #{$s750} {
        padding: 70px 30px;
        padding-bottom: 50px;
      }

      .related_blog_posts_header {
        padding: 0 2vw;

        @media #{$s750} {
          padding: 0;
        }

        h3 {
          margin-bottom: 20px;
          @extend .mediumHeadline;
          color: $color1;
        }
      }

      .related_blog_posts_content {
        display: flex;
        flex-wrap: wrap;

        .single_blog_holder {
          padding: 0 2vw;
          display: block;
          box-sizing: border-box;
          width: 50%;

          @media #{$s750} {
            padding: 0;
            width: 100%;
          }
        }

        .single_blog {
          border: 1px solid $color1;
          cursor: pointer;
          margin-bottom: 4vw;
          box-sizing: border-box;

          @media #{$s750} {
            margin-bottom: 30px;
          }

          &:hover {
            .image_holder {
              img {
                transform: scale(1);
              }
            }
            .slide_info {
              .read_more {
                opacity: 1;
                visibility: visible;
              }
            }
          }

          .image_holder {
            padding-top: 76%;
            overflow: hidden;
            position: relative;

            .date {
              position: absolute;
              right: 20px;
              top: 20px;
              z-index: 2;
              font-size: 14px;
              min-width: 100px;
              padding: 10px 20px;

              @media #{$s750} {
                padding: 7px 15px;
                font-size: 12px;
                min-width: 90px;
              }
            }

            img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              transform: scale(1.02);
              @include transition(all, 300ms);
            }
          }

          .slide_info {
            padding: 2.5vw 3vw;
            box-sizing: border-box;

            @media #{$s750} {
              padding: 30px 25px;
            }

            h3 {
              @extend .smallHeadline;
              color: $color1;
              margin-bottom: 25px;

              @media #{$s750} {
                margin-bottom: 10px;
              }
            }

            p,
            .read_more {
              @extend .text;
              color: $color1;
            }

            .read_more {
              display: flex;
              margin-top: 25px;
              align-items: center;
              opacity: 0;
              visibility: hidden;
              @include transition();

              @media #{$s750} {
                margin-top: 15px;
                font-size: 12px;
                opacity: 1;
                visibility: visible;
              }

              img {
                padding-left: 5px;
                position: relative;
                top: 1px;
              }
            }
          }
        }
      }
    }
  }
}
